<h1>Requisitos de Admisión</h1>
<ul>
<li>Haber concluido los estudios de bachillerato</li>
<li>Asistir y aprobar el curso propedéutico</li>
<li>Aprobar el examen de selección. Examen de Conocimientos Básicos (EXCOBA), o el que determine la Secretaría Académica de la Universidad Autónoma de Querétaro</li>
<li>Alcanzar el puntaje mínimo para ingreso</li>
</ul>

<h1>Permanencia</h1>
<p>Los estudiantes serán dados de baja y perderán todos los derechos académicos al incurrir en cualquiera de los siguientes casos:</p>
<ul>
<li>Acumular 3 NA's en la misma asignatura del plan de estudios</li>
<li>Acumular un total de 12 NA's en el plan de estudios</li>
<li>Acumular el 50% o más, de NA's en las asignaturas cursadas en primer semestre</li>
<li>Por expulsión definitiva de la Universidad, al imponerse como sanción por el Consejo Universitario</li>
</ul>

<h1>Requisitos de Obtención de Grado</h1>
<ul>
<li>Haber acreditado todas las materias del plan de estudios</li>
<li>Haber llevado a cabo las Prácticas Profesionales</li>
<li>Haber realizado el Servicio Social</li>
<li>Cumplir con el resto de los lineamientos establecidos en el Reglamento de Estudiantes de la UAQ</li>
</ul>
